<div class="menu" id="site-menu" role="dialog" aria-modal="true" aria-label="Site menu" data-open="false" inert>
  <div class="menu__panel menu__panel--under"></div>
  <div class="menu__panel menu__panel--main">
    <div class="menu__inner">
      <nav class="menu__nav" aria-label="Primary">
        <ol>
          <li>
            <a class="menu__link" href="/" data-nav="home"><span class="menu__num">01</span>Home</a>
          </li>
          <li>
            <a class="menu__link" href="/research/" data-nav="research"><span class="menu__num">02</span>Research</a>
            <div class="menu__sub">
              <a href="/research/#published">Published Research</a>
              <a href="/research/#active">Active Research</a>
              <a href="/research/#faculty">Faculty and Teaching</a>
            </div>
          </li>
          <li>
            <a class="menu__link" href="/philanthropy/" data-nav="philanthropy"><span class="menu__num">03</span>Philanthropy</a>
            <div class="menu__sub">
              <a href="/philanthropy/#compassion-unites">Compassion Unites</a>
              <a href="/philanthropy/#healthcare">Healthcare</a>
              <a href="/philanthropy/#mental-healthcare">Mental Healthcare</a>
              <a href="/philanthropy/#education">Education</a>
              <a href="/philanthropy/#youth">Youth</a>
              <a href="/philanthropy/#animal-welfare">Animal Welfare</a>
            </div>
          </li>
          <li>
            <a class="menu__link" href="/work-with-ishan/" data-nav="work"><span class="menu__num">04</span>Work with Ishan</a>
          </li>
          <li>
            <a class="menu__link" href="/practice-of-immortality/" data-nav="book"><span class="menu__num">05</span>Book</a>
          </li>
          <li>
            <a class="menu__link" href="/tradition/" data-nav="tradition"><span class="menu__num">06</span>Tradition</a>
          </li>
          <li>
            <a class="menu__link" href="/media/" data-nav="media"><span class="menu__num">07</span>Media</a>
            <div class="menu__sub">
              <a href="/media/#press">Press</a>
              <a href="/media/#appearances">Appearances</a>
              <a href="/media/#videos">Videos</a>
              <a href="/media/#writing">Writing</a>
              <a href="/media/#testimonials">Testimonials</a>
            </div>
          </li>
          <li>
            <a class="menu__link" href="/about/" data-nav="about"><span class="menu__num">08</span>About</a>
            <div class="menu__sub">
              <a href="/about/#recognition">Recognition</a>
              <a href="/about/#media-kit">Media Kit</a>
            </div>
          </li>
          <li>
            <a class="menu__link" href="/connect/" data-nav="connect"><span class="menu__num">09</span>Contact</a>
          </li>
        </ol>
      </nav>
      <div class="menu__aside">
        <img class="menu__aside-laurel" src="/assets/brand/is-laurel.svg" alt="" width="138" height="119" />
        <p class="menu__aside-motto">Rise and Lift Others</p>
        <a href="mailto:office@ishanshivanand.com">office@ishanshivanand.com</a>
      </div>
    </div>
  </div>
</div>
